html, body {
	height: 100%;
}

body,ul,li,h1,h2,p {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-size: 16px;
/*	-webkit-user-select:none;*/
    -webkit-text-size-adjust: none;
	font-family: helvetica;
	background: #CCC;
}

header {
	height: 40px; 
	line-height: 40px;
	/*display: block*/
	background: #CCC;
	font-size: 2em; 
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-left: 1px;
}

header ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

hr {
	border: 1px solid #000;
}

p { 
	margin-bottom: 1.2em; 
}

#logo_group {
	font: Arial;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	float: left;
	background: #FFF;
	width: 49vw;
	border: 1px solid #000;
	text-align: center;
}

#navButtonL, #navButtonR {
	font: Arial;
	font-weight: bold;
	font-size: 18px;
	color: #FFF;
	float: left;
	clear: none;
	background: #000;
	width: 24.25vw;
	text-align: center;
}

#navButtonL a:link, #navButtonR a:link {
	color: #FFF;
}

#navButtonL a:hover, #navButtonR a:hover {
	color: #000;
	background: #FFF;
}

#navButtonL {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 10px 0px 0px 10px;
	margin-left: 2px;
}

#navButtonR {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	border-radius: 0px 10px 10px 0px;
	margin-right: 2px;
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 65px; 
	bottom: 2px;
	width: 98vw;
	background: #CCC;
	overflow: hidden;
}

#slider {
	position: relative;
	z-index: 1;
	float: left;
	width: 300vw;
	height: 100%;
	-webkit-transform: translate3d(0,0,0);
}

.active {
	color: #33C;
}

.logo_e {
	color: #F00;
}

.page {
	-webkit-box-sizing: border-box;
	position: relative;
	z-index: 2;
	display: block;
	float: left;
	width: 95vw;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 2em;
	margin-left: 12px;
	background: #FFF;
	-webkit-transform: translate3d(0,0,0);
	border-radius: 5px;
}

.question {
	font-size: 16px;
	font-weight: bold;
}

.tip {
	font-size: 12px;
	color: #333;
}