
html, body {
	height: 100%;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
body, ul, li, h1, h2, p {
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	font-size: 18px;
	-webkit-text-size-adjust: none;
	background: #EAEAEA;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 60px;
	bottom: 0;
	width: 768px;
	overflow: hidden;
}
#slider {
	position: relative;
	z-index: 1;
	float: left;
	width: 3072px;
	height: 100%;
	font-size: 2em;
	-webkit-transform: translate3d(0,0,0);
}
.page {
	-webkit-box-sizing: border-box;
	position: relative;
	z-index: 2;
	display: block;
	float: left;
	width: 768px;
	background: #fff;
	padding: 1em;
	-webkit-transform: translate3d(0,0,0);
}
p { margin-bottom: 1.2em; }
@media only screen and (orientation: landscape) {
	#wrapper {
		width: 1024px !important;
	}
	#slider {
		width: 4096px !important;
	}
	.scrollerwrapper {
		width: 1024px !important;
	}
}
